body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top_banner_titles {
    background-color: #EAF6F6;
    margin: auto 0 0 auto;
}

.middle_container {
    width: 200px;
    height: 200px;
    margin-top: 0;
}

.bottom_container {
    width: 150px;
    height: 150px;
    margin: 50px 0 20px;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 0 auto 0 auto;
    font-weight: bold;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
}

.top-cloud {
    position: relative;
    left: 350px;
    margin-top: 50px;
}

.bottom-cloud {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 450px;
    bottom: 430px;
}

.mountain-img {
    position: relative;
    margin-top: 20px;
    height: 500px;
    width: 650px;
}

.qa-img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 30px;
}

.developer-img {
    width: 150px;
    height: 150px;
    float: right;
    margin-left: 30px;
}

.profile-img {
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

p {
    line-height: 200%;
    color: #40514E;
    font-weight: bold;
}

.copyright {
    color: #EAF6F6;
    margin-bottom: 0;
    padding: 20px 0;
    line-height: 0;
    font-weight: normal;
    font-size: 0.75rem;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    color: #11999E;
    font-size: 1.4rem;
}

hr {
    color: lightgrey;
    width: 3%;
    border: none;
    border-top: dotted 7px;
    padding: 0 5px 0 0;
    margin: 100px auto;
}

.btn {
    color: #EAF6F6;
    background-color: #11999E;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-color: #30e3cb;
}

.move-left {
    margin-left: 180px;
}

.intro {
    width: 33%;
    margin: auto;
    line-height: 3;
}

.contact-me {
    width: 40%;
    margin: 40px auto 100px;
}

.title-desc {
    line-height: 1.5;
    margin-bottom: 10px;
}

.title {
    line-height: 1.2;
    margin-top: 100px;
}